button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px;
    font-size: 25px;
    font-weight: bold;
}

.actionTop, .topCalc, .midCalc, .bottomCalc, .actionBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.red {
    background-color: red;
    color: white;
}

.action {
    width: 266px;
}