button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    
}
.actionButtons, .topNums {
    width: ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

